body{
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
	height: 100vh;
}
body,a{
    align-items: center;
}
h1{
    text-align: center;
}
table,td{
    
    border-collapse:collapse;
    
}
